:root {
    --balck-color: #000000;
    --white-color: #FAF0E6;
    --shadow-color: #CD7F32;
    --shadow: #B8860B;
    --font: #333333;
    /* gggg:#fffff;
    jjjj:#F0F0F0;*/
}

.enimation::after {
    content: '|';
    animation: title 5s steps(20) infinite;
}

@keyframes title {
    0% {
        content: '|';
    }

    5% {
        content: 'B|';
    }

    10% {
        content: 'BL|';
    }

    15% {
        content: 'BLV|';
    }

    20% {
        content: 'BLVC|';
    }

    25% {
        content: 'BLVCK|';
    }

    30% {
        content: 'BLVCKS|';
    }

    35% {
        content: 'BLVCKSO|';
    }

    40% {
        content: 'BLVCKSOU|';
    }

    45% {
        content: 'BLVCKSOUL|';
    }

    50% {
        content: 'BLVCKSOU|';
    }

    55% {
        content: 'BLVCKSO|';
    }

    60% {
        content: 'BLVCKS|';
    }

    65% {
        content: 'BLVCK|';
    }

    70% {
        content: 'BLVC|';
    }

    75% {
        content: 'BLV|';
    }

    80% {
        content: 'BL|';
    }

    85% {
        content: 'B|';
    }

    90% {
        content: '|';
    }

    100% {
        content: '|';
    }
}

#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #000;
    font-family:
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}